<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestSwarmAlert.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C235C8491D08C5E6004D30EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C235C85D1D08C5E6004D30EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C235C8681D08C5E6004D30EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
